{% extends "base.html" %}
{% load static %}

{% block content %}

<div style="background-image: url('{% static 'img/3.jpeg' %}'); height: 230px; background-size: cover ;" class="bg-center">
    
</div>

       
    <!-- Hero Section  -->
<div class="bg-linear-0 bg-purple-100 via-orange-100 to-transparent w-full h-full">
    
   <section id="prodetails" class="flex justify-start py-20 mx-20 gap-20">
        <div class="single-pro-image">
            <img class="" src="{{ single_product.images.url }}" width="100%" id="MainImg">

            {% comment %} <div class="small-img-group flex justify-between items-center w-150 gap-2 mt-2">
                <div class="small-img-col">
                    <img src="{% static 'img/products/f4.jpeg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f6.jpeg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f3.jpeg' %}" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="{% static 'img/products/f7.jpeg'%}" width="100%" class="small-img" alt="">
                </div>
            </div> {% endcomment %}
        </div>

        <div class="single-pro-details max-w-2xl">
            {% comment %} <h6 class="font-bold text-lg pt-10 pb-5">Home /TShirt</h6> {% endcomment %}
            <h4 class="font-bold text-3xl pb-5 ">{{ single_product.product_name }}</h4>
            <h2 class="font-bold text-4xl">${{ single_product.price }}</h2>
            <select class="py-1 border border-gray-400 rounded-lg my-4 font-medium">
                <option class="font-bold">Select Size</option>
                <option class="font-medium">XL</option>
                <option class="font-medium">XXL</option>
                <option class="font-medium">Small</option>
                <option class="font-medium">Large</option>
            </select>
            <input class="border border-gray-400 font-medium rounded-lg p-1 w-12" type="number" value="1">
            <Div class="mb-4">
            {% if single_product.stock <= 0 %}
            <h5 class="border flex justify-center border-gray-400 font-medium rounded-lg p-1 w-30 bg-red-500 text-white">Out of Stock</h5>
            {% else %}  
            <a href="{% url 'add_cart' single_product.id %}">      
            <button class="normal border border-gray-400 font-medium rounded-lg p-1 w-30 bg-gray-500 text-white">Add To Cart</button></a>
            {% endif %}                
            </Div>
            <h4 class="font-bold text-3xl py-4">Product Details</h4>
            <span class="font-medium text-lg">{{ single_product.description }}
            </span>
        </div>
    </section>

</div>

     <!-- Hero Section  -->

<script src="static/js/script.js"></script>    
</body>

</html>


{% endblock %}