{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- Hero Section  -->

            <!-- Desktop Start -->

<div style="background-image: url('{% static 'img/4.jpeg' %}'); height: 270px; background-size: cover;">
    <div class="flex flex-col items-start transform transition hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none ...">
        <div class="m-18 p-2 w-122 border-2 rounded-lg border-amber-200">
        <h2 class="text-4xl text-white font-medium max-w-4xl mx-10 px-2 pt-4 text-shadow-lg text-shadow-black/90 ">#Shop now at EBazaar</h2>
        <p class="text-xl text-white font-medium max-w-4xl mx-10 px-2 pt-2 pb-6 text-shadow-lg text-shadow-black/95">Save more with coupons & up to 70% off</p>                 
        </div>
    </div>
</div>

 
 <!-- Hero Section  -->

    
    <div class="w-full ">
           <div class=" ml-110 mt-6 ">
            <h2 class="text-xl text-blue-950 font-medium ">Items Count : {{ product_count }} Found</h2>
        </div>
    </div>

    <div class="my-6 ml-30 border rounded-lg border-gray-300 w-72">
        <h2 class="font-medium text-xl text-blue-950 py-2 px-4 border rounded-lg border-gray-300">All Categories</h2>
            <div class="mx-3">
                <a href="{% url 'store' %}" class="font-medium hover:bg-gray-100 block rounded-lg text-lg text-blue-950 relative group"><span class="pe-2"><i class="fa-regular fa-square"></i></span>All Products</a>
                {% for category in links %}             
                <a href="{{ category.get_url }}" class="font-medium hover:bg-gray-100 block rounded-lg text-lg text-blue-950 relative group"><span class="pe-2"><i class="fa-regular fa-square"></i></span>{{ category.category_name}}</a>
                {% endfor %}
            </div>
        </div>

        
        <div class="-mt-60 ml-110 mb-10">
      
        <div id="productList" class=" max-w-6xl flex justify-start flex-wrap gap-8">
            {% for product in products %}
            <div class="product w-auto h-auto p-4 bg-purple-50 hover:shadow-lg rounded-lg text-gray-500" data-category="T Shirts" >
                <a href="{{ product.get_url }}"><img class="w-80 h-80 rounded-lg" src="{{ product.images.url }}" alt=""></a>
                    <div>
                        <a href="{{ product.get_url }}"><h2 class="text-blue-950 text-2xl">{{ product.product_name}}</h2></a>
                            <div class="text-amber-300 text-sm py-2">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        <h4 class="text-lg text-blue-950">${{ product.price }}</h4>
                    </div>
                        <div class="text-blue-950 ml-72 -mt-8 ">
                                <a class="border rounded-4xl border-gray-400 p-1" href="#">
                                <i class="fa-solid fa-cart-shopping cart"></i>
                                </a>
                        </div>
            </div>
            {% endfor %}
      
            </div>
    </div>

    <script src="/static/js/script.js"></script>  
</body>

</html>


{% endblock %}
